@use '../custom' as c;

$segundos: 8s;

#user-head {
    animation: animation-head $segundos ease-in-out infinite;
    transform-origin: center;  /* Asegura que la cabeza se expanda desde el centro */
}

#user-shoulder {
    animation: animation-shoulders $segundos ease-in-out infinite;
    transform-origin: center;  /* Asegura que los hombros se expandan desde el centro */
}

@keyframes animation-head {
    0% {
        transform: scale(1); /* Estado inicial */
    }

    50% {
        transform: scale(0.9); /* Reducción máxima de la cabeza */
    }

    100% {
        transform: scale(1); /* Regreso al estado original */
    }
}

@keyframes animation-shoulders {
    0% {
        transform: scale(1) translateY(0px); /* Estado inicial, sin movimiento vertical */
    }

    50% {
        transform: scale(1.1) translateY(-10px); /* Expansión y subida de los hombros */
    }

    100% {
        transform: scale(1) translateY(0px); /* Regreso al estado original */
    }
}

.svg-user{
    border-radius: 100%;
    width: 30rem;
}