@use 'sass:color';
// Reescribimos variables de Boostrap

$primary: #1D2D44;
$secondary:#3E5C76;
$success: #748CAB;
$gray: #8c9195;
$dark: #000032;


// asignar paleta a cambiarlos
// todos los colores primarios se va a cambiar al nuestro



// Cards
$card-border-color:transboparent;

// Tipografías
$display-font-weight:900;
$heading-font-weight:700;

// Nav links
$nav-link-color:$secondary;
$nav-link-hover-color: color.scale($primary, $lightness: 20%);


// importamos Boostrap de node_modules
@import '../../node_modules/bootstrap/scss/bootstrap.scss';