@use '../custom'as c;

.background-image {

    background: url("../img/informatica.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

   
}